@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ff7aae;
  --primary-rgb: 255, 122, 174;
  --secondary: #002952;
  --black: #2b2b2b;
  --white: #ffffff;
  --gray: #f8f8f8;
  --gray-01: #ebebeb;
  --gray-02: #585858;

  --background-dark: #1a1a1a;
  --primary-dark: #ffcde1;
}

@layer base {
  ::selection {
    background-color: #ffcde1;
  }
}
