@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ff7aae;
  --primary-light: #ffcde1;
  --primary-deep: #d12c6c;
  --primary-deep-rgb: 255, 122, 174;
  --primary-rgb: 255, 122, 174;
  --secondary: #002952;
  --black: #2b2b2b;
  --white: #ffffff;
  --white-rgb: 255, 255, 255;
  --gray: #f8f8f8;
  --gray-01: #ebebeb;
  --gray-02: #585858;

  --background-dark: #1d1d1d;
  --primary-dark: #ffa0c5;
  --primary-dark-rgb: 119, 76, 124;
  --black-dark: #ffffff;
  --gray-dark: #ededed;
  --gray-01-dark: #d1d1d1;
  --gray-02-dark: #aaaaaa;
  --gray-03-dark: #5c5c5c;
  --gray-04-dark: #2c2c2c;
}

@layer base {
  ::selection {
    @apply bg-[--primary-light] text-black;
  }

  .dark ::selection {
    @apply bg-[#f489b3] text-white;
  }
}

[data-rehype-pretty-code-title] {
  @apply px-[16px] py-[8px] font-pretendard text-white bg-[#0f121b] dark:bg-[#28292d] rounded-t-lg;
  transform: translateY(10px);
}

figure pre {
  padding-top: 20px !important;
  @apply dark:bg-[#121114] !important;
}

span[data-rehype-pretty-code-figure] code {
  @apply bg-[--gray-01] rounded-md py-[3px] px-[6px] dark:bg-[rgba(var(--primary-deep-rgb),0.3)] dark:border dark:border-[--primary-light] dark:border-[0.5px] !important;
}

span[data-rehype-pretty-code-figure] code [data-line] span {
  @apply text-[--primary-deep] dark:text-[--white] !important;
}

.prose :where(code):not(:where([class~='not-prose'] *))::before,
.prose :where(code):not(:where([class~='not-prose'] *))::after {
  content: '';
}
